@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Overpass&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
}

nav {
  background-color: #f2f2f2 !important;
}
nav ul li a:hover {
  color: red !important;
}

.track-product {
  position: relative;
  top: 20%;
  background-color: rebeccapurple;
  width: 300px;
  font-family: "Kumbh Sans", sans-serif;
}
.track-product button, .track-product input {
  font-size: 20px;
}

#home {
  background: linear-gradient(#f2f2f2, #f8f9fa);
  position: relative;
}

.header {
  color: #333232;
}

.contact-page,
.destiney,
.how-its-work-box {
  margin: 0 10% !important;
}
.contact-page h1,
.destiney h1,
.how-its-work-box h1 {
  text-shadow: 1px 1px 1px brown;
}

.automated-shipping {
  margin: 0 10% !important;
}
.automated-shipping ul {
  line-height: 3rem;
}

.destiney-surface {
  background-color: #2f2f2f;
}
.destiney-surface .row {
  margin: 0 10% !important;
}
.destiney-surface .card {
  border-radius: 20px;
}

.how-its-work-box img {
  width: 100%;
  height: 250px;
}
.how-its-work-box .stage > div {
  margin: 0 10px;
}

.delivery-process {
  background-image: linear-gradient(brown, black), url("../images/delivery-process.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-bottom: 8px solid red;
  color: white;
}
.delivery-process > div {
  padding: 10vh 0;
  margin: 0 10% !important;
}
.delivery-process > div div {
  padding: 5px;
}
.delivery-process > div h3 {
  font-weight: 900;
}

.contact-page {
  padding: 0 10px;
}
.contact-page .flat-earth {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/flat-earth.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contact-page h1 {
  position: relative;
  left: 100% !important;
  z-index: 10;
}

.carousel-gallery {
  height: 50vh;
}

.carousel-item img {
  height: 50vh;
  width: 100%;
}
.carousel-item .carousel-caption {
  padding-top: 50px;
  color: black;
  top: -25%;
}
.carousel-item .carousel-caption img {
  position: relative;
  height: 100px;
  width: 100px;
  border: 3px solid orangered;
}
.carousel-item .carousel-caption h2 {
  display: inline-flex;
  justify-content: center;
  padding: 4px;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  position: relative;
  top: 51%;
  left: -51%;
}
.carousel-item .carousel-caption h2 i {
  font-size: 20px;
}
.carousel-item .carousel-caption p {
  line-height: 30px;
  margin-top: 20px;
}
.carousel-item .carousel-caption h3 {
  text-shadow: 1px 1px 1px brown;
}

.carousel-control-prev, .carousel-control-next {
  width: 60px !important;
  height: 60px !important;
  background-color: rgba(0, 0, 0, 0.6);
  top: 80% !important;
}

.carousel-control-next {
  right: 10% !important;
}

.footer {
  color: white;
  background-color: #14161a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='258' height='258' viewBox='0 0 200 200'%3E%3Cpolygon fill='%2334383b' fill-opacity='0.17' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}
.footer > div {
  padding: 20vh 0;
  margin: 0 10% !important;
}
.footer > div p:first-child {
  text-shadow: 1px 1px 1px brown;
}
.footer .card-logos {
  font-size: 3rem;
}

.end-footer {
  background-color: #14161a;
  padding: 0 5%;
}

@media (min-width: 377px) {
  .contact-page h1 {
    left: 0 !important;
  }
}
@media (min-width: 768px) {
  .header {
    font-size: 50px !important;
  }

  .carousel-control-prev {
    left: 75% !important;
  }
}
@media (min-width: 996px) {
  .header {
    font-size: 4.5rem !important;
  }

  .carousel-control-prev {
    left: 75% !important;
  }
}

/*# sourceMappingURL=style.css.map */
