@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Overpass&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: $kumbhFont;
}
nav{
    background-color: #f2f2f2 !important;
    ul{
        li{
            a:hover{
                color: red !important;
            }
        }
    }
}
.track-product{
    position: relative;
    top:20%;
    font-family: $kumbhFont;
    button, input{

        font-size: $fontSize;
    }
}
#home{
    background: linear-gradient($light_grey, $grey);
    position: relative;
}
.header{
    color: $headerColor ;
}


@import 'components';
